<span>Fill out all fields to add region</span>
<div>
    <table>
        <tr>
            <td>Region name</td>
            <td>
                <input type="text" placeholder="Enter the name of the region" ng-model="regionName" />
            </td>
        </tr>
        <tr>
            <td>Area</td>
            <td>
                <input type="text" placeholder="Enter the area in sq. miles" ng-model="regionArea" />
            </td>
        </tr>
        <tr>
            <td>Region type</td>
            <td>
                <select ng-model="regionType">
                    <option ng-repeat="regionOption in regionTypeOptions" ng-value="regionOption.id">
                        {{regionOption.name}}
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Plate</td>
            <td>
                <select ng-model="plate">
                    <option ng-repeat="plateOption in plates" ng-value="plateOption.id">
                        {{plateOption.name}}
                    </option>
                </select>
            </td>
        </tr>
    </table>
    <button ng-click="addRegion()">Add region</button>
</div>